.slide-vertical {
  .char {
    overflow: hidden;
    color: transparent;

    &:before,
    &:after {
      visibility: visible;
      color: #fff;
      transition: transform 0.5s cubic-bezier(0.9, 0, 0.2, 1);
      transition-delay: calc(0.2s + (0.02s * (var(--char-index))));
    }
    
    &:before {
      /* color: #00c9b1; */
      /* @apply font-grotesk; */
      /* box-shadow: 1px 1px 3px 5px white; */
      color: var(--secondary);
      transition-delay: calc(0.02s * (var(--char-index)));
    }
  }
  
  &:hover .char:before {
    transition-delay: calc(0.2s + (0.02s * (var(--char-index))));
  }
  &:hover .char:after {
    transition-delay: calc(0.02s * (var(--char-index)));
  }
}

.slide-vertical {
  .char:before {
    transform: translateY(-110%);
  }
  &:hover .char:before {
    transform: translateY(0%);
  }
  &:hover .char:after {
   
    transform: translateY(100%);
  }
}
