/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'grotesk';
  src: url('/fonts/grotesk/AlteHaasGroteskRegular.ttf') format('ttf');
  font-display: swap;
}
@font-face {
  font-family: 'inter';
  src: url('/fonts/Inter/static/Inter-Regular.ttf') format('ttf');
}
@font-face {
  font-family: 'poppins';
  src: url('/fonts/poppins-400.woff2') format('woff2');
}
/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

:root {
	--qwik-dark-blue: #006ce9;
	--qwik-light-blue: #18b6f6;
	--qwik-light-purple: #ac7ff4;
	--qwik-dark-purple: #713fc2;
	--qwik-dirty-black: #1d2033;
	--qwik-dark-background: #151934;
	--qwik-dark-text: #ffffff;
  --secondary: hsl(182, 39%, 47%);
	/* Cursor */
	--cursor-stroke: none;
	/* --cursor-fill: #18b6f6; */
	--cursor-stroke-width: 1px;
}

html {
	-webkit-text-size-adjust: 100%;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	font-family: inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
		"Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body::-webkit-scrollbar-track {
	background: black;
}

body {
	padding: 0;
	line-height: inherit;
	padding: 0;
	margin: 0;
	line-height: inherit;
	background-image: linear-gradient(
		to top right,
		black 2%,
		rgb(18, 47, 48) 10%,
		black 44%,
		hsl(244, 21%, 20%)
	);
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
}

input {
	color: black;
}

/* Cursor */
@media (any-pointer: fine) {
	.cursor {
		position: fixed;
		top: 0;
		left: 0;
		display: block;
		pointer-events: none;
		z-index: 1001;
	}

	.cursor__inner {
		fill: var(--cursor-fill);
		stroke: var(--cursor-stroke);
		stroke-width: var(--cursor-stroke-width);
		opacity: 0.7;
	}
}
